body {
    font-family: "Roboto", sans-serif;
    color: var(--text);
    background-color: var(--white-background);
}

:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #ffffff;
    --modal-background: #FCFCFC;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    margin: auto;
    padding: 0 15px 0 15px;
}

.div-container {
    display: flex;
}

.container-icon-solutions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--light);
    border-radius: 4px;
    margin-bottom: 8px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.link {
    text-decoration: none;
}


.link-card {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*INDEX*/

.header {
    justify-content: space-between;
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 24px 0;
}

.logo-in-header {
    color: var(--primary-brand);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio-header {
    color: var(--dark);
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-text {
    color: var(--dark);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 28px;
}

.menu-text:hover,
.menu-text:focus {
    color: var(--pressed-state);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu-studio::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
    align-items: center;
}

.link-menu-portfolio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu-portfolio::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 66px;
    background-color: #404bbf;
    border-radius: 2px;
    align-items: center;
}

.address {
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}


.address-text {
    margin-right: 0 940px;
    gap: 40px;
}

.contact {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: var(--pressed-state);
}

.hero-section {
    background-color: var(--modal-overlay);
    padding: 188px 0;
    display: flex;
    text-align: center;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-studio/people-office.jpg);

    max-width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    color: var(--white-background);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    display: flex;
    max-width: 496px;
    margin: 0 auto;

}

.order-service {
    color: var(--white-background);
    background-color: var(--primary-brand);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
    background-color: var(--pressed-state);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
    padding: 120px 0;
}

.section-three {
    padding-top: 0;
    padding-bottom: 120px;
}

.section-two-list {
    display: flex;
    gap: 24px;
}

.value {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.list-point-width_three {
    flex-basis: calc((100% - 3 * 16px) / 3);
}

.heading-title {
    color: var(--dark);
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: flex-start;
}

.feature {
    color: var(--text);
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: flex-start;
}

.social-network {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.clients-list {
    display: flex;
    gap: 24px;
}

.clients {
    color: var(--subtle-text);

    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:hover,
.clients:focus {
    border-color: var(--pressed-state);
    color: var(--pressed-state);
}

.clients-items {
    width: calc((100% - 120px) / 6);
    height: 88px;
    list-style: none;
}

.ellipse {
    width: 40px;
    height: 40px;
}

.social-items-index {
    background-color: var(--primary-brand);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-items-index:hover,
.social-items-index:focus {
    background-color: #404bbf;
}

.social-items-portfolio {
    background-color: var(--primary-brand);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-items-portfolio:hover,
.social-items-portfolio:focus {
    background-color: #31D0AA;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-items-footer {
    background-color: var(--primary-brand);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-items-footer:hover,
.social-items-footer:focus {
    background-color: #31d0aa;
}

.svg-section-four {
    fill: var(--light);
}

.svg-section-five {
    fill: currentColor;
}

.svg-footer {
    fill: var(--light);
}

.section-title {
    color: var(--dark);
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 72px 0;
}

.background-section {
    background-color: var(--white-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-background);
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.filter-btn {
    color: var(--primary-brand);
    background-color: var(--light);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    padding: 12px 24px 12px;
    border: 1px solid var(--accent);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0 100px;
}

.logo-in-footer {
    color: var(--primary-brand);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.brand {
    margin-right: 120px;
}

.social-media-footer {
    color: var(--white-background);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 0 16px 0;
}

.subscribe {
    margin-left: 80px;
}

.subscribe-footer {
    color: var(--white-background);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.newsletter-form {
    display: flex;
    gap: 24px;
}


.footer-list {
    display: flex;
    gap: 16px;
}

.studio-footer {
    color: #f4f4fd;
}

.menu-text:hover {
    color: var(--pressed-state);
}

.menu-text:focus {
    color: var(--pressed-state);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-btn:hover {
    color: var(--pressed-state);
}

.studio-btn:focus {
    color: #404bbf;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.members {
    background-color: var(--light);
}

.footer-text {
    color: var(--light);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 0 0 16px 0;
}

.employee {
    padding: 32px 0px;
}

.portfolio-main {
    padding: 96px 0 120px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.card-content {
    flex-basis: calc((100% - 48px)/3);
}

.card-text {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.link-card:hover,
.link-card:focus {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    color: var(--light);
    background-color: #4D5AE5;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover .overlay {
    transform: translateY(0%);
}

.link-card:focus .overlay {
    transform: translateY(0%);
}

.heading-title-studio {
    color: var(--dark);
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    gap: 8px;
    text-align: center;
}

.feature-studio {
    color: var(--text);
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 8px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.button-close-x {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.e-mail-input {
    color: #ffffff;
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
}

.e-mail-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;

    color: var(--white-background);
    background-color: var(--primary-brand);
    cursor: pointer;
    border: none;
    border-radius: 4px;


    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.subscribe-btn-svg {
    margin-left: 16px;
}

.modal-paragraph {
    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-name {
    margin-bottom: 8px;
}

.small-text {
    color: var(--subtle-text);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    display: block;
    margin-bottom: 4px;
}

.input-and-icon {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--primary-brand);
    fill: var(--primary-brand);
}

.svg-modal-name {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.svg-modal-name {
    fill: var(--primary-brand);
}

.form-four {
    margin-bottom: 16px;
}

.text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text:focus {
    border-color: #4D5AE5;
}

.modal-terms {
    margin-bottom: 24px;
}

.terms {
    color: var(--subtle-text);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.privacy-policy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.privacy-policy-link {
    color: var(--primary-brand);
}

.input-checkbox:checked+.terms .privacy-policy {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--light);
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.js-close-menu:hover,
.js-close-menu:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.menu-container {
    padding: 80px 35px 40px 40px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--white-background);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 150px;
}

.mobile-menu .link {
    color: var(--dark);
    font-family: inherit;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
    color: var(--pressed-state);
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-studio/people-office-2x.jpg);
    }
}


/********** MEDIA PHONE**********/

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .navigation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .section {
        padding: 96px 0;
    }

    .hero-section {
        background-color: var(--modal-overlay);
        padding: 112px 0;
        display: flex;
        text-align: center;
        height: 432px;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-studio/people-office.jpg);

        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .hero-title {
        max-width: 320px;
        text-align: center;
        font-family: inherit;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .heading-title {
        color: var(--hero-background);
        text-align: center;
        font-family: inherit;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .feature {
        color: var(--text);
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;

    }

    .section-two-list {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 72px;
    }

    .container-icon-solutions,
    .section-three,
    .navigation .list,
    .address {
        display: none;
    }

    .background-section {
        text-align: center;
        width: 264px;
    }

    .clients {
        width: 190px;
    }

    .clients-items {
        display: flex;
        width: 198px;
        height: 88px;
        justify-content: center;
    }

    .clients-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 16px;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }

    .brand {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .footer-link {
        display: flex;
        justify-content: center;
    }

    .social-media-footer,
    .subscribe-footer {
        display: flex;
        justify-content: center;
    }

    .subscribe {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .e-mail-input {
        width: 100%;
    }

    .subscribe-btn {
        width: 117px;
        margin: 0 auto;
    }

    .menu-text {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .menu {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .contact {
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
        padding: 0;
    }

    .social-network-phone {
        display: inline-flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 56px;
        padding: 48px 0 40px 0;
    }

    .contact-mobile-phone {
        color: var(--primary-brand);

        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .contact-mobile-mail {
        color: var(--text);

        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
    }

    .mobile-menu-down {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 40px;
    }

    .svg-section-five {
        width: 110px;
        height: 56px;
    }

    .modal {
        width: 408px;
    }
}

@media screen and (min-width: 428px) and (max-width: 768px) {

    .navigation {
        width: 428px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        width: 428px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .section {
        padding: 96px 0;
    }

    .hero-section {
        background-color: var(--modal-overlay);
        padding: 112px 0;
        display: flex;
        text-align: center;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-studio/people-office.jpg);

        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .hero-title {
        max-width: 320px;
        text-align: center;
        font-family: inherit;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }


    .section-two-list {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 72px;
    }

    .container-icon-solutions,
    .section-three,
    .navigation .list,
    .address {
        display: none;
    }

    .clients {
        width: 190px;
    }

    .clients-items {
        width: calc((100% - 16px) / 2);
        height: 88px;
        width: 190px;
    }


    .clients-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 16px;
        width: 396px;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }

    .brand {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .footer-link {
        display: flex;
        justify-content: center;
    }

    .social-media-footer,
    .subscribe-footer {
        display: flex;
        justify-content: center;
    }

    .subscribe {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .e-mail-input {
        width: 398px;
    }

    .subscribe-btn {
        width: 117px;
        margin: 0 auto;
    }

    .menu-text {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .menu {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .contact {
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
        padding: 0;
    }

    .social-network-phone {
        display: inline-flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 56px;
        padding: 48px 0 40px 0;
    }

    .contact-mobile-phone {
        color: var(--primary-brand);

        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .contact-mobile-mail {
        color: var(--text);

        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
    }

    .mobile-menu-down {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 40px;
    }

    .svg-section-five {
        width: 110px;
        height: 56px;
    }

    .modal {
        width: 408px;
    }
}





/********** MEDIA TABLET **********/



@media screen and (min-width: 768px) and (max-width: 1199px) {

    .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 24px 0;
    }

    .container {
        width: 768px;
    }

    .section {
        padding: 96px 0;
    }

    .heading-title {
        width: 264px;
        color: var(--hero-background);
        font-family: inherit;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .hero-title {
        width: 320px;
        text-align: center;
        font-family: inherit;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .feature {
        width: 356px;
        align-self: stretch;
        color: var(--text);
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
    }

    .section-two-list {
        width: 736px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .container-icon-solutions,
    .section-three {
        display: none;
    }

    .background-section {
        text-align: center;
        width: 264px;
    }

    .clients {
        width: 168px;
    }

    .clients-items {
        display: flex;
        width: 168px;
        height: 88px;
        justify-content: center;
    }

    .clients-list {
        width: 552px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 16px;
    }

    .footer {
        padding: 96px 0px;
    }

    .container-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 72px;
        max-width: 550px;
    }

    .brand {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 24px;
    }

    .footer-link {
        display: flex;
        justify-content: flex-start;
    }

    .subscribe-footer {
        display: flex;
    }

    .subscribe {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .e-mail-input {
        width: 264px;
    }

    .menu-text {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .menu {
        display: flex;
    }

    .contact {
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: 0.48px;
        padding: 0;
    }

    .social-network-phone {
        display: inline-flex;
        align-items: flex-start;
        gap: 46px;
        padding: 48px 60px 0 40px;
    }

    .contact-mobile-phone {
        color: var(--primary-brand);

        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .contact-mobile-mail {
        color: var(--text);

        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
    }

    .mobile-menu-down .address {
        display: inline-flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 40px;
    }

    .value {
        display: flex;
        flex-direction: column;
        width: 356px;
        align-items: flex-start;
        gap: 8px;
    }

    .footer-link {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }

    .link-menu-studio {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-text {
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
    }

    .address-menu {
        flex-direction: column;
        display: flex;
        gap: 12px;
    }
}

/********** DESKTOP **********/

@media screen and (min-width: 1200px) {
    .header {
        justify-content: space-between;
        border-bottom: 1px solid var(--accent);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 24px 0;
    }


    .menu-text:hover,
    .menu-text:focus {
        color: var(--pressed-state);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .address {
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    .address-mobile {
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .address-text {
        margin-right: 0 940px;
        gap: 40px;
    }

    .contact {
        color: var(--text);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact:hover,
    .contact:focus {
        color: var(--pressed-state);
    }

    .hero-section {
        background-color: var(--modal-overlay);
        padding: 188px 0;
        display: flex;
        text-align: center;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-studio/people-office.jpg);

        max-width: 1440px;
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .hero-title {
        color: var(--white-background);
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        display: flex;
        max-width: 496px;
        margin: 0 auto;

    }

    .order-service {
        color: var(--white-background);
        background-color: var(--primary-brand);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;

        cursor: pointer;
        display: block;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: auto;
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .order-service:hover,
    .order-service:focus {
        background-color: var(--pressed-state);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .section {
        padding: 120px 0;
    }

    .section-three {
        padding-top: 0;
        padding-bottom: 120px;
    }

    .section-two-list {
        display: flex;
        gap: 24px;
    }

    .value {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .list-point-width_three {
        flex-basis: calc((100% - 3 * 16px) / 3);
    }

    .heading-title {
        color: var(--dark);
        font-family: inherit;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: flex-start;
    }

    .feature {
        color: var(--text);
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
        text-align: flex-start;
    }

    .social-network {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .clients-list {
        display: flex;
        gap: 24px;
    }

    .clients {
        color: var(--subtle-text);

        width: 100%;
        height: 100%;
        border: 1px solid var(--subtle-text);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .clients:hover,
    .clients:focus {
        border-color: var(--pressed-state);
        color: var(--pressed-state);
    }

    .clients-items {
        width: calc((100% - 120px) / 6);
        height: 88px;
        list-style: none;
    }

    .ellipse {
        width: 40px;
        height: 40px;
    }

    .social-items-index {
        background-color: var(--primary-brand);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-items-index:hover,
    .social-items-index:focus {
        background-color: #404bbf;
    }

    .social-items-portfolio {
        background-color: var(--primary-brand);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-items-portfolio:hover,
    .social-items-portfolio:focus {
        background-color: #31D0AA;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-items-footer {
        background-color: var(--primary-brand);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-items-footer:hover,
    .social-items-footer:focus {
        background-color: #31d0aa;
    }

    .svg-section-four {
        fill: var(--light);
    }

    .svg-section-five {
        fill: currentColor;
    }

    .svg-footer {
        fill: var(--light);
    }

    .section-title {
        color: var(--dark);
        font-family: inherit;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin: 0 0 72px 0;
    }

    .background-section {
        background-color: var(--white-background);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .filter-btn:hover,
    .filter-btn:focus {
        color: var(--white-background);
        background-color: var(--pressed-state);
        border: 1px solid transparent;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }

    .filter-btn {
        color: var(--primary-brand);
        background-color: var(--light);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;

        padding: 12px 24px 12px;
        border: 1px solid var(--accent);
        border-radius: 4px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer {
        background-color: #2e2f42;
        padding: 100px 0 100px;
    }

    .logo-in-footer {
        color: var(--primary-brand);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;

    }

    .footer-link {
        display: inline-block;
        margin-bottom: 16px;
    }

    .brand {
        margin-right: 120px;
    }

    .social-media-footer {
        color: var(--white-background);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: 0 0 16px 0;
    }

    .subscribe {
        margin-left: 80px;
    }

    .subscribe-footer {
        color: var(--white-background);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .newsletter-form {
        display: flex;
        gap: 24px;
    }


    .footer-list {
        display: flex;
        gap: 16px;
    }

    .studio-footer {
        color: #f4f4fd;
    }

    .menu-text:hover {
        color: var(--pressed-state);
    }

    .menu-text:focus {
        color: var(--pressed-state);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .studio-btn:hover {
        color: var(--pressed-state);
    }

    .studio-btn:focus {
        color: #404bbf;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .members {
        background-color: var(--light);
    }

    .footer-text {
        color: var(--light);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
        margin-bottom: 0 0 16px 0;
    }

    .employee {
        padding: 32px 0px;
    }

    .portfolio-main {
        padding: 96px 0 120px 0;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }

    .project-card {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .card-content {
        flex-basis: calc((100% - 48px)/3);
    }

    .card-text {
        padding: 32px 16px;
        border: 1px solid var(--accent);
        border-top: none;
    }

    .link-card:hover,
    .link-card:focus {
        box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .images-container {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        top: 0;
        color: var(--light);
        background-color: #4D5AE5;
        font-family: inherit;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-card:hover .overlay {
        transform: translateY(0%);
    }

    .link-card:focus .overlay {
        transform: translateY(0%);
    }

    .heading-title-studio {
        color: var(--dark);
        font-family: inherit;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        gap: 8px;
        text-align: center;
    }

    .feature-studio {
        color: var(--text);
        font-family: inherit;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
        text-align: center;
        padding: 8px;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }

    .close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .close-btn:hover,
    .close-btn:focus {
        background-color: #404bbf;
        fill: #ffffff;
        border: none;
    }

    .button-close-x {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .e-mail-input {
        color: #ffffff;
        background-color: transparent;
        width: 264px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--white-background);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
    }

    .e-mail-input::placeholder {
        color: #ffffff;
    }

    .subscribe-btn {
        display: flex;
        min-width: 165px;
        height: 40px;
        justify-content: center;
        align-items: center;

        color: var(--white-background);
        background-color: var(--primary-brand);
        cursor: pointer;
        border: none;
        border-radius: 4px;


        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    }

    .subscribe-btn-svg {
        margin-left: 16px;
    }

    .modal-paragraph {
        color: var(--dark);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .form-name {
        margin-bottom: 8px;
    }

    .small-text {
        color: var(--subtle-text);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;

        display: block;
        margin-bottom: 4px;
    }

    .input-and-icon {
        position: relative;
    }

    .modal-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-input:focus {
        border-color: var(--primary-brand);
        fill: var(--primary-brand);
    }

    .svg-modal-name {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-input:focus+.svg-modal-name {
        fill: var(--primary-brand);
    }

    .form-four {
        margin-bottom: 16px;
    }

    .text {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .text:focus {
        border-color: #4D5AE5;
    }

    .modal-terms {
        margin-bottom: 24px;
    }

    .terms {
        color: var(--subtle-text);
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .privacy-policy {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    }

    .privacy-policy-link {
        color: var(--primary-brand);
    }

    .input-checkbox:checked+.terms .privacy-policy {
        background-color: var(--pressed-state);
        border: none;
        fill: var(--light);
    }

    .menu-toggle {
        display: none;
    }

    .menu-container.is-open {
        transform: translateX(0);
    }

    .menu-container .menu-toggle {
        position: absolute;
        top: 16px;
        right: 16px;
        color: rgba(46, 47, 66, 1);
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-menu .link {
        color: var(--dark);
        font-family: inherit;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .mobile-menu .link:hover,
    .mobile-menu .link:focus {
        color: var(--pressed-state);
    }

    .address-menu {
        display: flex;
        gap: 40px;
    }
}