/*** MEDIA PHONE - PORTFOLIO ***/

@media screen and (min-width: 320px) {
    .project-card {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
}